.songNameAndUrl:hover{
    color: yellow;
    transition: 0.2s;
}

.album{
    grid-area: albumName;
    margin: 0;
    text-align: left;
    width: 90%;
    font-style:italic;
    font-size: 0.9rem;
    color: hsl(50, 100%, 60%);
    align-self: center;

}

.container{
    display: grid;
    border-radius:5px;
    padding:0.5rem;
    border-bottom: white dotted 1px;
    color: hsl(40, 100%, 60%);
    grid-template-areas: "image songNameAndUrl button"
                         "image albumName button";   
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80px 9fr 1fr;
    
                           
}

.container:hover{
    background-color: hsla(230, 60%, 40%, 1);
}

.songImage{ 
    grid-area: image;
}

.button{
    grid-area: button;
    background-color:transparent;
    border-color: transparent;
    font-weight: bold;
    font-size:1.2rem;
    color: hsl(40, 100%, 60%);
    cursor: pointer;
}   

.button:hover{
    color: yellow;
}


.songNameAndUrl{
    grid-area: songNameAndUrl;
    margin: 0;
    text-align: left;
    width: 90%;
    color: hsl(40, 100%, 40%);
    transition: 0.2s;
};



