.header{
  display: flex;
  background-color: hsl(230, 60%, 60%);
  margin-top: 0;
  height: 5rem;
  padding:1rem;
  color: hsl(40, 100%, 60%);
  justify-content: center;

}


.siteName{
  font-size: 3rem;
  margin: 0;
}

.p{
  font-size: 3rem;
  margin:0;
  font-weight: bold;
} 

.lists{
  display: flex;
  justify-content: space-around; 
  color: black; 
  padding-bottom: 1rem;
}

.content{
  background-color: hsla(230, 60%, 70%, 0.9);
}

