.box{
    height: 40rem;
    width: 35%;
    background-color: hsla(230, 60%, 50%, 0.9);
    text-align:center;
    padding:1rem;
    overflow-y:scroll;
    
}

.button{
    width:10rem;
    height:2rem;
    border-radius: 8px;
    font-size: 1rem;
    background-color: hsl(40, 100%, 60%);
    transition: background-color 400ms;
    margin: 1rem;
    font-weight: bold;
}

.button:hover{
    width:10.2rem;
    height:2.2rem;
}


.input{
    width: 75%;
    height:2rem;
    border-radius: 7px;
    font-size: 1.2rem;
    border: 0;
    border: hsl(0, 0%, 100%) solid 3px;
    text-align:center; 
    margin:1rem;
  }

  .input:hover{
    border: hsl(0, 0%, 40%) solid 3px;    
  }

  .input:focus{
    border: black solid 3px;
  }